{% extends 'layout.html' %}

{% block body %}
  <h1>About</h1>
  <p>A simple website created by Benjamin Shiao. The goal of this website is to use web scraping to
   analyze reviews from multiple websites in a convenient manner. My goal was to automate and improve
    my friend's job.
    <br><br>
    I had fun learning how to create something using my progamming knowledge and felt accomplished knowing my
    product was useful.</p>
  <a href="https://gfycat.com/polisheddeadcollie" target='_blank'>Mystery link</a>
{% endblock %}
